<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nyc.c4q.rusili.weatherwidget">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.ActivitySetUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ConfigurationActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!--&lt;!&ndash; 4x1 &ndash;&gt;-->
        <!--<receiver android:name=".activities.widgets.WeatherWidget4x1" android:label="Weather 4x1">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
            <!--</intent-filter>-->
            <!--<meta-data android:name="android.appwidget.provider"-->
                       <!--android:resource="@xml/widget_weather_4x1"/>-->
        <!--</receiver>-->

        <!-- 4x2 -->
        <receiver android:name=".activities.widgets.WeatherWidget4x2" android:label="Weather 4x2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_weather_4x2"/>
        </receiver>

        <!--&lt;!&ndash; 5x1 &ndash;&gt;-->
        <!--<receiver android:name=".activities.widgets.WeatherWidget5x1" android:label="Weather 5x1">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
            <!--</intent-filter>-->
            <!--<meta-data android:name="android.appwidget.provider"-->
                       <!--android:resource="@xml/widget_weather_5x1"/>-->
        <!--</receiver>-->

        <!-- 5x2 -->
        <receiver android:name=".activities.widgets.WeatherWidget5x2" android:label="Weather 5x2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_weather_5x2"/>
        </receiver>
    </application>

</manifest>