<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nyc.c4q.rusili.SimplyWeather">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />

    <application
        android:name=".dagger.AppDagger"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.onboard.OnboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.configuration.ConfigurationActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- 4x2 -->
        <receiver android:name=".activities.widgets.WeatherWidget4x2" android:label="SimplyWeather"
                  android:permission="android.permission.RECEIVE_BOOT_COMPLETED" android:enabled="true">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_weather_4x2"/>
        </receiver>

        <service android:name=".utilities.app.ScreenServiceAndReceiver" android:label="ScreenMonitorService">
            <intent-filter>
                <action android:name=".utilities.ScreenMoniterService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="16efebd9e22f28d04ae0259543180c744789589c" />
    </application>

</manifest>